
*.pyc

.python-version

.vscode/

.virtual_documents/

scripts/.ipynb_checkpoints/

scripts/*.ipynb

src/grassgp/.ipynb_checkpoints/

scripts/configs/.ipynb_checkpoints/

scripts/untitled.py

src/grassgp/configs/.ipynb_checkpoints/

scripts/analysis_mean_zero_gp-params-fixed-mismatch-subsampled.py

scripts/analysis_results/*

scripts/papermill_reports/*

tests/.ipynb_checkpoints/

scripts/analysis_results_gpsr_example/.ipynb_checkpoints/

scripts/analysis_results_gpsr_example/random_sampling/.ipynb_checkpoints/

scripts/_dev/.ipynb_checkpoints/hardcoded-active-subspace-checkpoint.ipynb
scripts/_dev/.ipynb_checkpoints/hardcoded-active-subspace-checkpoint.py
scripts/_dev/hardcoded-active-subspace.ipynb
_research/.ipynb_checkpoints/

_research/reports/.ipynb_checkpoints/
scripts/multirun/*
_research/multirun/*
_research/reports/*

scripts/_dev/.ipynb_checkpoints/
scripts/_dev/multirun/*

scripts/analysis_results_gpsr_example/more-data/.ipynb_checkpoints/
scripts/analysis_results_gpsr_example/*
_research/*.ipynb
scripts/_dev/*.ipynb

_research/notes/.ipynb_checkpoints/

poetry.lock.bak

pyproject.toml.bak

_research/outputs/

_savvas_code/

scripts/_dev/

examples/.ipynb_checkpoints/

examples/savvas_example_optimised_analysis.ipynb
paper/article.aux
paper/article.fdb_latexmk
paper/article.fls
paper/article.log
paper/article.out
paper/article.synctex.gz
paper/pdflatex50303.fls
paper/supplement.aux
paper/supplement.fdb_latexmk
paper/supplement.fls
paper/supplement.log
paper/supplement.out
paper/supplement.synctex.gz
Screenshot from 2023-01-21 16-06-27.png
Screenshot from 2023-01-21 16-06-39.png
Screenshot from 2023-01-22 12-06-11.png
Screenshot from 2023-01-22 12-06-20.png
paper/article.bbl
paper/article.blg
examples/wing_function_example/.ipynb_checkpoints
examples/wing_function_example/.jukit
