
*.pyc

.python-version

.vscode/

.virtual_documents/

scripts/.ipynb_checkpoints/

scripts/*.ipynb

src/grassgp/.ipynb_checkpoints/

scripts/configs/.ipynb_checkpoints/

scripts/untitled.py

src/grassgp/configs/.ipynb_checkpoints/
